<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onLogin()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Login</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name">
          </div>
          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password">
          </div>
          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary me-2">Login</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
