<p>
  property-detail works!
  Selected: {{ propertyId }}
  <br/>

  <button
    class="btn btn-primary"
    (click)="goNext()"
    >Next Page
  </button>
  <br>

  <button
    class="btn btn-primary"
    routerLink="/property-detail/1"
    >1
  </button>
    <button
    class="btn btn-primary"
    [routerLink]="['/property-detail', '2']"
    >2
  </button>
</p>
