*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.property-container {
  margin-top: 4.5rem;
  width: 70%;
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border: 3px solid red;
}

.alert {
  margin-top: 0.3rem;
  width: fit-content;
}
