<div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Add Your Property
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #Form="ngForm">

        <div>
          <tabset #formTabs>
            <tab heading="Basic Info">
              <div class="form-group col-12">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  ngModel
                  #name="ngModel"
                  name="name"
                  id="name"
                  required
                  minlength="5"
                  maxlength="50">
                  <div
                    class="alert alert-danger"
                    *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors?.['required']">
                      Name is required
                    </div>
                    <div *ngIf="name.errors?.['minlength']">
                      Min length: {{name.errors?.['minlength'].requiredLength}} chars
                    </div>
                    <div *ngIf="name.errors?.['maxlength']">
                      Max length: {{name.errors?.['maxlength'].requiredLength}} chars
                    </div>
                  </div>
              </div>

              <div class="form-group col-12">
                <label for="type">Type</label>
                <input
                  type="text"
                  class="form-control"
                  ngModel
                  #type="ngModel"
                  name="type"
                  id="type"
                  required>
                  <div
                    class="alert alert-danger"
                    *ngIf="type.touched && type.invalid">
                    Type is required
                  </div>
              </div>

              <div class="form-group col-12">
                <label for="price">Price</label>
                <input
                  type="number"
                  class="form-control"
                  ngModel
                  name="price"
                  id="price"
                  #price="ngModel"
                  required
                  min="1">
                  <div
                    class="alert alert-danger"
                    *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors?.['required']">
                      Price is required
                    </div>
                    <div *ngIf="price.errors?.['min']">
                      Price must be a positive number
                    </div>
                  </div>
              </div>

              <div class="form-group col-12">
                <label for="interactionType">Interaction Type</label>
                <select
                  class="form-control"
                  ngModel
                  #interactionType="ngModel"
                  name="interactionType"
                  id="interactionType"
                  required>
                  <option disabled selected></option>
                  <option
                    *ngFor="let key of keys"
                    [value]="key"
                    >{{ interactionTypes[key] }}
                  </option>
                </select>
                  <div
                    class="alert alert-danger"
                    *ngIf="interactionType.touched && interactionType.invalid">
                    Interaction Type is required
                  </div>
              </div>

              <div class="form-group d-grid">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="selectTab(1)">Next
                </button>
              </div>
            </tab>

            <tab heading="Pricing and Area Info">
              <!-- <div class="form-group col-12">
                <label for="price">Price (in USD)</label>
                <input
                  type="text"
                  class="form-control"
                  id="price">
              </div> -->

              <div class="form-group col-12">
                <label for="security">Security (in USD)</label>
                <input
                  type="text"
                  class="form-control"
                  id="security">
              </div>

              <div class="form-group col-12">
                <label for="maintenance">Maintenance (in USD)</label>
                <input
                  type="text"
                  class="form-control"
                  id="maintenance">
              </div>

              <div class="form-group col-12">
                <label for="builtArea">Built Area (in Sqr Feet)</label>
                <input
                  type="text"
                  class="form-control"
                  id="builtArea">
              </div>

              <div class="form-group col-12">
                <label for="carpetArea">Carpet Area(in Sqr Feet)</label>
                <input
                  type="text"
                  class="form-control"
                  id="carpetArea">
              </div>


              <div class="form-group d-grid">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="selectTab(2)">Next
                </button>
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="selectTab(0)">Back
                </button>
              </div>
            </tab>

            <tab heading="Address">
            <div class="form-group col-12">
              <label for="floor">Floor</label>
              <input
              type="number"
              class="form-control"
              id="floor"
              min="0">
            </div>

            <div class="form-group col-12">
              <label for="totalFloor">Total Floors</label>
              <input
                type="number"
                class="form-control"
                id="totalFloor"
                min="0">
            </div>

            <div class="form-group col-12">
              <label for="floor">Address</label>
              <input type="text" class="form-control" id="floor">
            </div>

            <div class="form-group col-12">
              <label for="floor">Landmark</label>
              <input type="text" class="form-control" id="floor">
            </div>

              <div class="form-group d-grid">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="selectTab(3)">Next
                </button>
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="selectTab(1)">Back
                </button>
              </div>
            </tab>

            <tab heading="Other Details">
            <div class="form-group col-12">
              <label>Ready to Move</label><br/>
              <input
                type="radio"
                id='Yes'
                value='1'
                name="RTM"
                id="ready">
              <label class="m-2" for="ready">Yes</label>

              <input
                type="radio"
                id="No" value='2'
                name="RTM"
                id="notReady">
              <label class="m-2" for="notReady">No</label>
            </div>

            <div class="form-group col-12">
              <label for="possession">Possession/Avaialble From</label>
              <input
                type="date"
                class="form-control"
                id="possession">
            </div>

            <div class="form-group col-12">
              <label for="age">Age of Property</label>
              <input type="number"
              class="form-control"
              min="1700"
              id="age">
            </div>

            <div class="form-group col-12">
              <label for="description">Description</label>
              <textarea
              type="text"
              class="form-control"
              rows="6"
              id="description"></textarea>
            </div>

              <div class="form-group d-grid">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="selectTab(4)">Next
                </button>
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="selectTab(2)">Back
                </button>
              </div>
            </tab>

            <tab heading="Photos">

              <!-- <div class="form-group col-12">
                <label for="imageUrl">Image</label>
                <input
                  type="file"
                  accept="image/*"
                  class="form-control"
                  ngModel
                  name="imageUrl"
                  id="imageUrl">
              </div> -->

            <div class="form-group col-12">
              <div class="photo-control">
                  <button class="mt-5" type="button">Upload</button> <br>
                  This is under construction
              </div>
            </div>

              <div class="form-group d-grid">
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="selectTab(3)">Back
                </button>
                <button
                  [disabled]="Form.invalid"
                  class="btn btn-primary"
                  type="submit">Save
                </button>
                <button class="btn btn-secondary" type="reset">Cancel</button>
              </div>
            </tab>
          </tabset>
        </div>
      </form>
    </div>
  </div>
</div>
