<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">HSPA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/buy-property"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            >Buy
        </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/rent-property"
            routerLinkActive="active"
            >Rent
        </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/add-property"
            routerLinkActive="active"
            >Add Property (Free)
        </a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li *ngIf="!loggedIn()" class="nav-item">
          <a
            class="nav-link"
            routerLink="user/register"
            routerLinkActive="active"
            >Register
          </a>
      </li>
      <li *ngIf="!loggedIn()" class="nav-item">
          <a
            class="nav-link"
            routerLink="user/login"
            routerLinkActive="active"
            >Login
          </a>
      </li>
      <!-- <li *ngIf="loggedIn()" class="nav-item">
        <a class="nav-link" (click)="onLogout()">Logout</a>
      </li> -->
      <div *ngIf="loggedIn()" class="btn-group me-5" dropdown>
        <button id="button-animated"
          dropdownToggle type="button"
          class="btn dropdown-toggle"
          aria-controls="dropdown-animated">
          Welcom {{ loggedInUser }} <span class="caret"></span>
        </button>
        <ul id="dropdown-animated"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-animated">
          <li role="menuitem">
            <a class="dropdown-item" href="#">
              <i class="fas fa-tachometer-alt"> View dashboard</i>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">
              <i class="fas fa-user-circle"> My Profile</i>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">
              <i class="fas fa-tachometer-alt"> Change Password</i>
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="onLogout()">
              <i class="fas fa-sign-out-alt"> Logout</i>
            </a>
          </li>
        </ul>
      </div>
      </ul>
    </div>
  </div>
</nav>
