h1,
h2 {
  font-size: 2rem;
}

h2 {
  font-weight: normal;
}

h3 {
  font-size: 1.7rem;
}

.card-img-wraper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  right: 0;
  bottom: -10%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  opacity: 0.8;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.card-img-wraper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.2s ease-in-out;
}
