<div class="shadow-lg p-3">
  <div class="card">
    <div class="card-img-wraper">
      <img
        *ngIf="property.imageUrl"
        class="card-img-top"
        src="assets\images\{{ property.imageUrl }}"
        alt="Default house">
      <img
        *ngIf="!property.imageUrl"
        class="card-img-top"
        src="assets\images\house-default.png"
        alt="Default house">
      <ul class="list-inline text-center member-icons animate">
        <li class="list-inline-item">
          <button
            class="btn btn-primary"
            routerLink="property-detail/{{ property.id }}">
            <i class="far fa-edit"></i>
          </button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary">
            <i class="far fa-id-card"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="card-body p-1">
      <h1>{{ property.name }}</h1>
      <h2>{{ property.type }}</h2>
      <h3>{{ property.price }}</h3>
    </div>
  </div>
</div>
