<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                id="name">
              <div class="alert alert-danger"
                *ngIf="(name?.touched || formSubmitted) && name?.invalid">
                <div *ngIf="name?.hasError('required')">
                    Name is required
                </div>
                <div *ngIf="name?.hasError('maxlength')">
                  Name`s max length is {{ name?.errors?.['maxlength'].requiredLength }}
                </div>
            </div>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              id="email">
            <div class="alert alert-danger"
              *ngIf="(email?.touched || formSubmitted) && email?.invalid">
              <div *ngIf="email?.hasError('required')">
                  Email is required
              </div>
              <div *ngIf="email?.hasError('email')">
                  Invalid email format
              </div>
            </div>
          </div>

          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
              id="password">
            <div class="alert alert-danger"
              *ngIf="(password?.touched || formSubmitted) && password?.invalid">
              <div *ngIf="password?.hasError('required')">
                  Password is required
              </div>
              <div *ngIf="password?.hasError('minlength')">
                  Password`s min length is {{ password?.errors?.['minlength'].requiredLength }} chars
              </div>
            </div>

          <div class="form-group col-12">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input
            type="password"
            class="form-control"
            formControlName="confirmPassword"
            id="confirmPassword">
          <div class="alert alert-danger"
            *ngIf="(confirmPassword?.touched || formSubmitted) && confirmPassword?.invalid">
            <div *ngIf="confirmPassword?.hasError('required')">
              Confirm the Password
            </div>
          </div>
          <div class="alert alert-danger"
            *ngIf="confirmPassword?.valid && form?.hasError('passShouldMatch')">
            Passwords Should Match
          </div>

          </div>
          <div class="form-group col-12">
            <label for="phone" class="form-label">Phone (like 000-000-0000)</label>
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              id="phone">
            <div class="alert alert-danger"
              *ngIf="(phone?.touched || formSubmitted) && phone?.invalid">
              <div *ngIf="phone?.hasError('required')">
                Phone is required
              </div>
              <div *ngIf="phone?.hasError('pattern')">
                Incorect phone format
              </div>
          </div>
          </div>

          <div class="form-group col-12">
            <button
              type="submit"
              class="btn btn-primary me-2"
              >Save
          </button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
