button,
label {
  margin-top: 1rem;
  margin-bottom: 0;
}

input,
select {
  margin-top: 0;
  line-height: 1.3;
}

label {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

input.ng-touched.ng-invalid {
  border: 3px solid red;
}

.alert {
  width: fit-content;
  margin-top: 0.3rem;
  margin-bottom: 0;
  padding: 0.3rem;
}
